# Exploratory Data Analysis

##### 08-09-2025

### Types of Data Analysis
##### 1) Descriptive Analysis
##### 2) Statistical Analysis
##### 3) Diagnostic Analysis
##### 4) Predictive Analysis
##### 5) Prescriptive Analysis
##### 6) Exploratory Data Analysis
##### 7) Inferential Analysis

### Types of Data Analytics
##### 1) Descriptive Analytics
##### 2) Diagnostic Analytics
##### 3) Predictive Analytics
##### 4) Prescriptive Analytics

In [1]:
import pandas as pd 
import numpy as np 

df = pd.read_csv('datasets.csv')
df.tail(6)

,datasetName,about,link,categoryName,cloud,vintage
55,ClueWeb09 FACC,ClueWeb09 FACC,http://lemurproject.org/clueweb09/FACC1/,Natural Language,NaN,2009.0
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

##### Shape of the dataset

In [3]:
df.shape

(61, 6)

##### Datatypes

In [4]:
df.dtypes

datasetName      object
about            object
link             object
categoryName     object
cloud            object
vintage         float64
dtype: object

### Info shows all dtypes,shape,..

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datasetName   61 non-null     object
 1   about         61 non-null     object
 2   link          61 non-null     object
 3   categoryName  61 non-null     object
 4   cloud         24 non-null     object
 5   vintage       31 non-null     float64
dtypes: float64(1), object(5)
memory usage: 3.0+ KB

#### Drop to drop a column use axis for mentioning row or column

In [8]:
df = df.drop(['datasetName'],axis = 1)
df.head(5)

,about,link,categoryName,cloud,vintage
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

##### df.info() for descriptive and df.describe() for statistical

#### Describe used only for integer of float i.e. numeral columns
##### IQR - Inter Quartile Range

In [9]:
df.describe()

           vintage
count    31.000000
mean   2000.677419
std      24.436840
min    1920.000000
25%    2006.500000
50%    2009.000000
75%    2012.000000
max    2016.000000

#### Renaming the columns

In [17]:
df = df.rename(columns = {"categoryName" : "category" , "about" : "description"})
df.head(5)

,description,link,category,cloud,vintage
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [18]:
df.shape

(61, 5)

##### Dropping the duplicate rows or NULL values

In [21]:
duplicate_rows_df = df[df.duplicated()]
print("No. of duplicate rows: ",duplicate_rows_df.shape[0])

No. of duplicate rows:  0

####  Check no. of Null values in each column

In [23]:
print(df.isnull().sum())

description     0
link            0
category        0
cloud          37
vintage        30
dtype: int64

#### Drop all Null rows

In [25]:
df.dropna()

,description,link,category,cloud,vintage
32,FBI Hate Crime 2013 - aggregated data,https://github.com/emorisse/FBI-Hate-Crime-Sta...,Social Sciences,GitHub,2013.0
41,NYC Uber trip data April 2014 to September 2014,https://github.com/fivethirtyeight/uber-tlc-fo...,Transportation,GitHub,2014.0